#titulo{
    color: rgb(72, 72, 75);
    font-weight: bold;
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    color: rgb(72, 72, 75);
    justify-content: center;    
}

input, select, button{
    border-radius: 5px;
}

.campo{
    margin: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: rgb(72, 72, 75);
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select{
    padding: 0.2em;
    border: 1px solid rgb(72, 72, 75);
    box-shadow: 2px 2px 2px rgb(72, 72, 75);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

#botao{
    background-color: rgb(74, 74, 80);   
    font-size: 1.2em;
    border: 0;
    margin: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(91, 91, 94);
    color: rgb(210, 203, 203);
    font-weight: bold;
    margin-left: 11em;
    margin-top: 2em;
   
}   

#botao:hover{
    background-color: rgb(112, 112, 115);
}

#formulario{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.linha-formulario{
    display: flex;
    border: none;
}

#nome, #email, #endereco{
    width: 300px;
}

#data-nascimento{
    margin-left: 8em;
}

