
footer {
    background-color: rgba(179, 172, 172, 0.803);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    
}

 #texto_footer {
    font-size: large;
    font-weight: bold;
}